/* @font-face {
    font-family: 'Poppins-regular';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-medium';
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins-semibold';
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'Poppins-bold';
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins-xbold';
    src: url(../fonts/Poppins-ExtraBold.ttf);
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins-regular', sans-serif;
}

:root{

    /* Theme Colors */
    --primary-color: #49BBBD;
    --primary-light: #8db9ba;
    --primary-accent-color: #fff;

    --secondary-color: #252641;
    --secondary-light: #353644;
    --secondary-accent-color: #242B33;


    --nutral-100: #00171F;
    --nutral-80: #242B33;
    --nutral-60: #667479;
    --nutral-40: #99A2A5;
    --nutral-20: #CCD1D2;
    --nutral-10: #EBEEEF;
    --nutral-0: #fdfdfd;
    

    /* Element Color */
    --body-color: var(--nutral-80);
    --body-bg: var(--nutral-0);
    --heading-color: var(--primary-dark, #002A48);
    --nav-link-color: var(--primary-dark, #002A48);

    
    /* Font family */
    --font-family-medium: Poppins-medium, sans-serif;
    --font-family-regular: Poppins-regular, sans-serif;
    --font-family-base: nunito, sans-serif;
    --font-family-heading: Poppins-bold, sans-serif;
    --font-family-xheading: Poppins-xbold, sans-serif;
    --font-family-semi: Poppins-semibold, sans-serif;

    /* Font weight */
    --display-1: 60px;
    --display-2: 52px;

    --h1-font: 46px;
    --h2-font: 36px;
    --h3-font: 28px;
    --h4-font: 24px;

    --heading-1-bold:  700 var(--h1-font)/1.35 'Gilroy-Bold', sans-serif;
    --heading-1-med:  500 var(--h1-font)/1.35 'Gilroy-Medium', sans-serif;
    --heading-1-reg:  400 var(--h1-font)/1.35 'Gilroy-Reg', sans-serif;

    --heading-2-bold:  700 var(--h2-font)/1.4 'Gilroy-Bold', sans-serif;
    --heading-2-med:  500 var(--h2-font)/1.4 'Gilroy-Medium', sans-serif;
    --heading-2-reg:  400 var(--h2-font)/1.4 'Gilroy-Reg', sans-serif;
    
    --heading-3-bold:  700 var(--h3-font)/1.4 'Gilroy-Bold', sans-serif;
    --heading-3-med:  500 var(--h3-font)/1.4 'Gilroy-Medium', sans-serif;
    --heading-3-reg:  400 var(--h3-font)/1.4 'Gilroy-Reg', sans-serif;
    
    --heading-4-bold:  700 var(--h4-font)/1.4 'Gilroy-Bold', sans-serif;
    --heading-4-med:  500 var(--h4-font)/1.4 'Gilroy-Medium', sans-serif;
    --heading-4-reg:  400 var(--h4-font)/1.4 'Gilroy-Reg', sans-serif;


    --fs-20: 20px;
    --fs-16: 16px;
    --fs-14: 14px;
    --fs-12: 12px;
    --fs-10: 10px;
    --fs-8: 8px;

    /* Buttons */
    --btn-font-size-base: 14px;
    --btn-font-size-lg: 16px;
    --btn-font-size-sm: 12px;

    --btn-padding-block: .83em;
    --btn-padding-inline: 2.25em;

    --btn-border-radius: 2.25em;

    /* Shadow */
    --shadow: 0 4px 28px rgba(0,0,0, .08);
    --shadow2: 0 4px 28px -2px rgba(0,0,0, .08);
}